*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ====================header section===================== */
#header{
    background-color: hsl(346, 69%, 90%);
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}
.heading{
    font-size: 50px;
    margin-bottom: 10px;
}
#pragraph{
    font-size: 12px;
    width: 75%;
    margin-bottom: 10px;
}
#section1{
    width: 40%;
}
.section1{
    
    margin-left: 50px;
}
.button{
    background-color: #E55473;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 5px;
}
#image{
    margin-bottom: -4px;
}
/* ===============main section1================== */
#section2{
    margin-top: 50px;
    margin-bottom: 70px;
}
.article-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.chile-article{
    width: 40%;
    margin: auto;
}
.header3{
    width: 50%;
    margin: auto;
    text-align: center;
}
.paragraph2{
    text-align: center;
}
#image_article{
    display: flex;
    margin: auto;
    justify-content: center;
}
.image{
    display: flex;
    align-items: end;
    height: 100%;
    width: 350px;
    background-color: beige;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 100% 100% 0% 0%;
}
.imgae_article_child{
    height: 500px;
}
.text{
    text-align: center;
    font-weight: bold;
}
#image1{
background-color: #f0ccdd;
padding-left: 25;
padding-right: 25;
}
#image2{
background-color: #a8f3f7;
}
#image3{
background-color: #e0f0d1;
}
.img{
    width: 80%;
    margin: auto;
    margin-bottom: 0px;
}
/* ======================main section2============================ */
#section3{
    height: 500px;
    background-color: #eeb7c785;
    margin-top: 70px;
    margin-bottom: 50px;
}
.section3_article_container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.heading2{
    width: 50%;
    margin: auto;
    text-align: center;
}
.paragraph3{
    width: 60%;
    margin: auto;
    text-align: center;
    
}
.button_container{
    width: 50%;
   margin: auto;
    text-align: center;
}
.button2{
    background-color: #E55473;
    border: none;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    color: #ffffff;
}
/* ===========main section4============== */
#section4{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}
.section4_article{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

}
#heading3, #pragraph4{
    width: 50%;
    margin: auto;
    text-align: center;
}
.section4_image{
    width: 240px;
    height: 260px;
    margin-left: 25px;
    border-radius: 5px;
}
/* ====================main section5======================= */
.section5{
    background-image: url(../Flower-Asset/Rectangle\ 9.png);
    background-size: cover;
    margin: auto;
    width: 80%;
    height: 300px;
}
#section5_article{
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
   
    
}
#section5_article1{
    height: 50px;
    text-align: center;
    margin-top: -5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#section5_article1 input{
    border: none;
    width: 40%;
   padding: 10PX;
   margin-right: 10px;
   border-radius: 5px;
}
#section5_article1  button{
    border: none;
    padding: 10PX;
    background-color: #E55473;
    color: #ffffff;
    border-radius: 5px;
}
/* ===================footer section==================== */
#footer{
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_heading{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    margin-bottom: 5px;
}
#footer_heading span{
    color: #E55473;
}
#footer_article{
    width: 38%;
}
#footer_pragraph{
    
    color: #ffffff;
    text-align: center;
}
#footer_pragraph2{
    margin-top: 30px;
    color: #9e9696;
    font-size: 10px;
    text-align: center;
}
